<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="body">

  <div class="sphere-one">

    <div class="heading">
      <h3>My Todo</h3>
    </div>

    <figure class="circle"></figure>

  </div>


  <div class="container">


    <div class="entry">
      <form (submit)="addTodo()">

        <input type="text"
        name="inputTodo"
        placeholder="  Enter here ..."
        class = "inputbox"
        [(ngModel)] = "inputTodo"
        />
        <br>
        <input type="submit" value="Add ToDo" class="todo-submit" />
      </form>
    </div>

    <div *ngFor="let item of todos; let i = index;"  class="todo">
      <div class="id">
        {{i}}
      </div>

      <div class="content">
        {{item.content}}
      </div>

      <button  id="delete" class="fa fa-trash" (click)="deleteTodo(i)"></button>

    </div>

  </div>

  <!-- <div class="sphere-two">
    <figure class="circlee"></figure>
  </div> -->

  <br>

</div>

